<h1>Articles</h1>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-toggle="switch" <%= 'checked' if @show_read_articles %> onchange="toggleReadArticlesSwitch()">
  <label class="form-check-label" for="flexSwitchCheckDefault">Show read articles</label>
</div>

<div id="articles">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <% if @show_read_articles || article.read_status == false %>
        <li class="list-group-item">
          <%= render article %>
        </li>
      <% end %>
  <% end %>
  </ul>
</div>